/* 
@media (max-width: 1000px) {
  .footer__social {
    display: block;
  }
}
*/

.menu__btn {
  display: none;
}

@media (max-width: 1000px) {
  .top__heading {
    display: block;
  }

  .top__content {
    max-width: 100%;
  }
  .top__slider {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .top__bottom {
    display: block;
  }

  .top__links {
    padding-right: 0;
    padding-top: 40px;
    text-align: center;
  }
}

@media (max-width: 860px) {
  .menu {
    order: 1;
  }

  .menu__list {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #332208;
    padding: 10px;
    width: 100%;
    text-align: center;
    transform: translateY(-500px);
    transition: all 0.5s;
    z-index: -1;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .menu__list-link {
    padding: 20px 0;
    display: block;
  }

  .menu__btn {
    display: block;
    width: 35px;
    height: 24px;
    border: none;
    cursor: pointer;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    background-color: transparent;
    position: relative;
  }

  .menu__btn:focus {
    outline: none;
  }

  .menu__btn::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: white;
    left: 0;
    top: 10px;
  }
}
