html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-weight: 400;
  color: #1b1818;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background: #332208;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0 15px;
}

.menu__list-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
  border-bottom: 1px solid #fff;
}

.phone {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

.top__heading {
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
}

.top__content {
  text-align: center;
  padding-top: 90px;
  max-width: 50%;
}

.top__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 20px;
}

.top__text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 60px;
}

.application-btn {
  text-transform: uppercase;
  color: #fefefe;
  background: #c5ac2d;
  padding: 16px 19px 15px;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.application-btn:hover {
  color: #c5ac2d;
  background: #fefefe;
  border: 1px solid #c5ac2d;
}

.top__slider {
  width: 50%;
}
